/*FONTS============================================================*/

@font-face {
  font-family: "Hind";
  src: url("/css/fonts/Hind-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Hind";
  src: url("/css/fonts/Hind-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Hind";
  src: url("/css/fonts/Hind-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Hind";
  src: url("/css/fonts/Hind-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Hind";
  src: url("/css/fonts/Hind-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

/*=================================================================*/

/*  COMMON STYLES==================================================*/
a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: 0 !important;
  outline-color: transparent !important;
  outline-width: 0 !important;
  outline-style: none !important;
  -webkit-box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important;
  -moz-box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important;
  box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important;
}

body {
  font-family: "Hind", sans-serif;
}

.wrapper {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100%;
}

a:hover {
  text-decoration: none;
}

.veepn-logo {
  width: 153px;
  height: 70px;
}

.veepn-download-button {
  width: 334px;
  height: 60px;
  background: #009B64;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 5px;
  font-weight: 500;
  font-size: 22px;
  line-height: 47px;
  color: #FFFFFF;
}

.heading-first {
  font-weight: bold;
  font-size: 56px;
  line-height: 140%;
  text-align: center;
  color: #FFFFFF;
}

.heading-second {
  font-weight: 600;
  font-size: 46px;
  line-height: 140%;
  color: #2A334F;
}

.heading-third {
  font-weight: 600;
  font-size: 22px;
  line-height: 35px;
  text-align: center;
}

.paragraph {
  font-weight: normal;
  font-size: 20px;
  line-height: 170%;
  color: #2A334F;
}

.fat-text {
  font-weight: 600;
}

._margin-right-2 {
  margin-right: 2px;
}

._margin-bottom-4 {
  margin-bottom: 4px;
}
/*=================================================================*/
.header_padding {
  padding-top: 17px;
  padding-bottom: 17px;
}

.stay-safe {
  height: 864px;
  background: url('/img/main-screen-logo.png');
  background-repeat: no-repeat;
  background-size: 100%;
}

.stay-safe__heading {
  margin-bottom: 16px;
  margin-top: 151px;
  width: 880px;
}

.stay-safe__parag {
  margin-bottom: 62px;
  color: #FFFFFF;
  width: 474px;
}

.stay-safe__pointer {
  position: relative;
  top: 21%;
}

.keep-privacy__img {
  width: 611px;
  height: 370px;
}

.keep-privacy__heading {
  width: 488px;
}

.keep-privacy__paragraph {
  width: 472px;
  margin-top: 25px;
  margin-bottom: 43px;
}

.keep-privacy {
  padding-top: 160px;
}

.keep-privacy__text-wrapper {
  padding-left: 100px;
}

.protect-device {
  padding-top: 230px;
  padding-bottom: 80px;
}

.protect-device__heading {
  margin-top: 40px;
}

.protect-device__paragraph {
  width: 472px;
  margin-top: 42px;
}

.protect-device__img {
  width: 649px;
  height: 387px;
  position: relative;
  left: -7%;
}

.protect-device__devices-logos {
  margin-top: 34px;
}

.access {
  /* height: 756px; */
  background: url('/img/access-bg-pattern.png');
  padding-top: 119px;
  padding-bottom: 155px;
  background-repeat: no-repeat;
  background-size: 107%;
}

.access__img {
  width: 558px;
  height: 506px;
}

.access__heading {
  width: 340px;
}

.access__paragraph {
  width: 489px;
}

.access__text-wrapper {
  margin-top: 20px;
  padding-left: 120px;
}

.access__donwload-btn {
  margin-top: 63px;
}

.capabilities {
  padding-top: 80px;
  padding-bottom: 120px;
}

.capabilities__heading {
  width: 930px;
  text-align: center;
}

.capabilities__heading_margin {
  margin-bottom: 70px;
}

.capabilities-parag {
  font-weight: normal;
  font-size: 18px;
  line-height: 31px;
  color: #2A334F;
  mix-blend-mode: normal;
  opacity: 0.9;
  width: 326px;
  margin-top: 12px;
}

.capabilities__item-heading {
  text-align: left;
  margin-top: 24px;
}

.moneyback {
  padding-bottom: 80px;
}

.moneyback__img {
  width: 630px;
  height: 582px;
  margin-left: 20px;
}

.moneyback__heading {
  margin-bottom: 24px;
}

.moneyback__paragraph {
  margin-bottom: 49px;
  width: 485px;
}

.moneyback__text-wrapper {
  padding-left: 110px;
  margin-top: 135px;
}

.footer {
  background: #080806;
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
  border: none;
}

.footer_padding {
  padding-bottom: 40px;
  padding-top: 40px;
}

.footer__based {
  opacity: 0.6;
  text-align: left;
  margin-top: 16px;
}

.footer__copyright {
  opacity: 0.6;
  margin-top: 18px;
  text-align: left;
}

.footer__terms {
  text-align: right;
  color: #ffffff;
  margin-top: 16px;
}

.footer__privacy {
  text-align: right;
  color: #ffffff;
  margin-top: 18px;
}

.footer__terms:hover {
  text-decoration: underline;
  color: #ffffff;
}

.footer__privacy:hover {
  text-decoration: underline;
  color: #ffffff;
}

.trusted__slider {
  width: 1240px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
}

._margin-top {
  margin-top: 50px;
}

._padding-left-30-desktop {
  padding-left: 30px;
}

._padding-left-60-desktop {
  padding-left: 70px;
}

.trusted {
  padding-top: 76px;
  padding-bottom: 150px;
}

.trusted-slider {
  width: 1200px;
}

.slick-current div > .trusted__slider-item {
  border: 2px solid red;
}

.slick-prev {
  left: 86% !important;
  background: url('/img/arrow-left.svg');
  background-repeat: no-repeat;
}

.trusted__heading {
  width: 645px;
  margin-bottom: 60px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.trusted__slider-item {
  border: 3px solid rgba(0, 0, 0, 0.041);
  box-sizing: border-box;
  border-radius: 10px;
  width: 375px !important;
  padding-top: 30px;
  padding-bottom: 30px;
}

.trusted__slider-item-rate {
  display: flex;
  float: left;
}

.avatar {
  margin-left: 24px;
  margin-right: 10px;
}

.user-name {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  color: #0B132A;
}

.user-country {
  font-weight: normal;
  font-size: 14px;
  line-height: 27px;
  display: flex;
  align-items: center;
  color: #4F5665;
}

.mark-numb {
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  color: #0B132A;
  margin-left: 5px;
}

.trustpilot-logo {
  margin-left: 15px;
}

.review {
  width: 345px;
  margin-left: 15px;
  margin-top: 10px;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #0B132A;
}

br {
  line-height: 10px;
}












@media (min-width: 1100px) and (max-width: 1441px) { 
  
  .stay-safe {
    height: 827px !important;
    /* background: url(/img/main-screen-logo.png) !important; */
    background-repeat: no-repeat;
    background-size: 131%;
    background-position-x: center;
}

.keep-privacy {
  padding-top: 50px;
}

.access {
  padding-bottom: 90px;
  background-size: 150%;
  background-position: center;
}

.capabilities {
  padding-top: 0px;
  padding-bottom: 50px;
}

.stay-safe__heading {
  margin-top: 90px;
}

.stay-safe__pointer {
  top: 14%;
}

.protect-device {
  padding-top: 180px;
}

}

@media only screen and (min-height: 700px) and (max-height: 823px) {
  .stay-safe {
    height: 738px !important;
    background: url(/img/main-screen-logo.png) !important;
    background-repeat: no-repeat !important;
    background-size: 130% !important;
    background-position: center !important;
}

.stay-safe__pointer {
  top: 13% !important;
}
}












































.header__download-btn {
  margin-right: 19px;
  margin-left: auto;
  width: 250px;
  height: 50px;
  line-height: 42px;
  justify-content: center;
}

.header_padding {
  padding-top: 17px;
  padding-bottom: 17px;
}

.header__veepn-logo {
  width: 107px;
}

.header {
  animation: my-animation 5.5s linear;
  position: fixed;
    height: auto;
    background: #FFFFFF;
    width: 100%;
    z-index: 100;
    border-bottom: 1px solid lightgray;
    animation-duration: 200ms;
    display: none;
}

@keyframes my-animation {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@media (min-width: 375px) and (max-width: 767px) {
  .header__download-btn {
    width: 136px;
    height: 45px;
    font-weight: 400;
    font-size: 16px;
    line-height: 34px;
    margin-right: 20px !important;
  }

  .header__veepn-logo {
    width: 107px;
    margin-left: 10px;
  }
  .header {
    position: fixed;
    height: auto;
    background: #FFFFFF;
    width: 100%;
    z-index: 100;
    border-bottom: 1px solid lightgray;
    animation-duration: 200ms;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .header {
    position: fixed;
    height: auto;
    background: #FFFFFF;
    width: 100%;
    z-index: 100;
    border-bottom: 1px solid lightgray;
    animation-duration: 200ms;
  }

  .header__veepn-logo {
    width: 157px;
    margin-left: 10px;
  }

  .header__download-btn {
    margin-top: 10px;
  }
}





